[submodule "/Users/christopherkonicki/Documents/GitHub/Import_Stuller_Nivoda/nivoda"]
	path = /Users/christopherkonicki/Documents/GitHub/Import_Stuller_Nivoda/nivoda
	url = https://github.com/Nivoda/nivoda-api.git
